* { /* universial select */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* no margin and padding for box */
}

body { /* get inherited by all child element of body */
     font-family: "Lato", sans-serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.7; /* 1.7 times bigger than the predefined line height */
     color: #777;
     padding: 30px;
}

.header {
    height: 95vh; /* 95% view point height. 5% of space below of the window   */
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
    background-size: cover; /* fit the element inside of the box */
    background-position: top; /* background img stay on the top. if it's "bottom" and size is changed, top part will be cropped  */

    position : relative;
    clip-path:  polygon(0 0, 100% 0, 100% 75vh,  0 100%)/*  clip out part of image,  left-top x y , right-top x y , right-bottom x y , left-bottom x y */
    /* https://bennettfeely.com/clippy/ */
}

.logo-box{ 
    position: absolute;
    top: 40px; /* reference (where top from) : parent element --> in this case : header */
    left: 40px;
}
.logo {
    height: 35px;
}

/* .logo:hover {
    animation : moveInRight 1s ease-out;
} */

.text-box {
    position: absolute;
    top: 40%; /* relation to the parent element */
    left: 50%;
    transform: translate(-50%, -50%); 
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    
    backface-visibility: hidden; /* if the back part of the element when we transform it, is visible or hidden for the user. */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 900; /* font thickness */
    letter-spacing:  35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    /* animation-delay: 3s; */ /* duration before animation start */
    /* animation-iteration-count: 3; */ 
    animation-timing-function: ease-out 
    /* ease-in : the animation will start slower and then accelate over time */
    /* ease-out : fater -> slower */

     
}
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 17.4px;

    animation: moveInRight;
    animation-duration: 1s;
}

/* animation */
@keyframes moveInLeft {
    0% { /* animation start */
        opacity: 0;
        transform: translateX(-100px);
    }
    /* 60% { 
        transform: rotate(120deg);
    } */
    80% { 
        transform: translateX(10px);
    }
    100% { /* animation end */
        opacity: 1;
        transform: translate(0); 
    }
}

@keyframes moveInRight {
    0% { /* animation start */
        opacity: 0;
        transform: translateX(100px);
    }
    80% {     
        transform: translateX(-10px);
    }
    100% { /* animation end */
        opacity: 1;
        transform: translate(0); 
    }
}